@font-face {
    font-family: "Beaufort for LOL";
    src: url("BeaufortForLoL-TTF/BeaufortforLOL-Bold.ttf");
}

@font-face {
    font-family: "Spiegel";
    src: url("Spiegel-TTF/Spiegel_TT_Regular.ttf");
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

h3 {
    font-family: "Beaufort for LOL", sans-serif;
    font-size: 28px;
}

h2 {
    font-family: "Beaufort for LOL", sans-serif;
    font-size: 28px;
}

p {
    font-family: "Spiegel";
    font-size: 18px;
}

.bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background: url('/image_video/arcade-animated-02.jpg') no-repeat;
    background-size: cover;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    position: relative;
    max-width: 800px;
    width: 100%;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    z-index: 1;
    
}

#gameContainer {
    max-width: 600px;
}

.left-container {
    text-align: left;
}

.difficulty-buttons {
    display: flex;
    justify-content: center;
}

.difficulty-buttons button {
    padding: 10px 20px;
    font-size: 18px;
    width: 150px;
    margin: 0 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    cursor: pointer;
}

#selectedDifficulty {
    text-align: center;
    font-size: 25px;
    margin-top: 10px;
}

#startButton {
    width: 50%;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;
}

#gameArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

#championImage {
    max-width: 100%;
    height: auto;
}

#answerInput {
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
}

#submitAnswer {
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

#feedback {
    margin-top: 20px;
    font-size: 18px;
}

#timer {
    font-size: 24px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.hidden {
    display: none;
}

#rules {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#rules-title {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

.rule-text {
    margin-top: 0px;
}

.overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.overlay-content {
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

#closeOverlay {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#startButtonpo {
    display: flex;
    justify-content: center;
    position: relative;
}

#backButton {
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 16px;
    padding: 10px 20px;
    
}