@font-face {
  font-family: "Beaufort for LOL";
  src: url("BeaufortForLoL-TTF/BeaufortforLOL-Bold.ttf");
}

@font-face {
  font-family: "Spiegel";
  src: url("Spiegel-TTF/Spiegel_TT_Regular.ttf");
}

/*Page indext.html*/

a {
  text-decoration: none;
}

h2 {
  font-family: "Beaufort for LOL", sans-serif;
}

p {
  font-family: "Spiegel", serif;
}

body {
  background: url("/image/fond_menu.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Spiegel", sans-serif;
}

.bgvid {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background-size: cover;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: center;
}

#lol-logo {
  width: 40%;
  height: auto;
  margin-bottom: 2%;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background: linear-gradient(to bottom right, #091428, #0a1428);
  padding: 5%;
  border-radius: 30px;
  border: 3px solid #C89B3C;
  max-width: 400px;
  width: 80vw;
}

.menu a {
  display: flex;
  justify-content: center;
  width: 100%;
}

.menu-btn {
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;

  padding: 0.5em 1em;
  font-size: calc(0.5em + 1vmin);
  min-width: 120px;
  max-width: 300px;
  
  cursor: pointer;
  text-align: center;
  font-family: "Beaufort for LOL", sans-serif;
  border-radius: 15px;
  transition: all 0.3s ease;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 10px;
  text-align: center;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

@media (max-width: 600px) {
  .menu-btn {
    padding: 1em;
    font-size: 3.5vw;
    min-width: 150px;
  }
}

@media (min-width: 601px) and (max-width: 1199px) {
  .menu-btn {
      padding: 0.8em;
      font-size: 3vw;
      min-width: 150px;
    }
}

@media (min-width: 1200px) {
  .menu-btn {
    padding: 1.5em;
    font-size: 24px;
  }
}

.menu-btn img {
  width: 100%;
  height: auto;
}

#champions-btn {
  width: 100%;
}

.index-btn:hover,
.index-btn:focus {
  background-color: #ffffff;
  transform: scale(1.05);
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.3);
}

/*Page champions.html*/

input[type="search"],
#retour-btn {
  width: 40%;
  padding: 1em;
  font-size: 18px;
  margin-bottom: 20px;
  border-radius: 20px;
  border: none;
  background-color: #fff;
  box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.1);
}

input[type="search"] {
  margin-right: 0;
  overflow-x: auto;
}

#retour-btn {
  width: 40%;
  padding: 1em;
  font-size: 18px;
  border-radius: 20px;
  margin-right: 0;
  margin-left: 0;
}

select {
  width: 40%;
  padding: 1em;
  font-size: 18px;
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
  border: none;
  box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.1);
  background-color: #fff;
}

.select-container {
  position: relative;
  display: inline-block;
  width: 40%;
}

.select-container select {
  width: 100%;
  padding: 1em;
  font-size: 18px;
  border-radius: 20px;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  background-color: white;
}

.select-container i {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #C89B3C;
  pointer-events: none;
}

.menu_champion {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 20px;
  background: linear-gradient(to bottom right, #091428, #0a1428);
  padding: 10%;
  padding-top: 5%;
}

.menu_champion img {
  width: 100%;
  height: auto;
}

.container_champion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  display: flex;
  position: relative;
  margin: 15% auto;
  padding: 20px;
  border: 3px solid #C89B3C;
  border-radius: 3%;
  width: 50%;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #0397AB;
}

.close {
  position: absolute;
  right: 10px;
  top: 10px;
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: rgb(255, 255, 255);
  text-decoration: none;
  cursor: pointer;
}

.menu_champion img:hover {
  transform: scale(1.1);
  transition: transform 0.2s;
}

#modal-abilities {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 3%;
  flex-wrap: wrap;
}

#modal-abilities img {
  width: 50px;
  height: auto;
  transition: transform 0.3s ease;
}

#modal-abilities div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

#modal-abilities span {
  color: #fff;
  font-size: 14px;
}

#modal-abilities img:hover {
  transform: scale(1.1);
}

#modal-buttons,
#modal-profile,
#modal-description {
  width: 80%;
  text-align: center;
}

#modal-buttons {
  display: flex;
  flex-direction: row;
  align-self: center;
  width: 100%;
  justify-content: center;
}

#modal-description {
  background-color: white;
  padding: 10px;
  margin-top: 20px;
  border-radius: 20px;
}

#modal-description h2 {
  font-size: 24px;
}

#profile-btn,
#abilities-btn {
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  font-family: "Beaufort for LOL", sans-serif;
}

.active {
  background-color: #ddd;
}

.champion-profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

/*Page items.html*/

.container_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container_filtre_item {
  flex-direction: row;
  gap: 20px;
}

.menu_item {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 20px;
  background: linear-gradient(to bottom right, #091428, #0a1428);
  padding: 10%;
}

.menu_item img {
  width: 100%;
  height: auto;
}

.menu_item img:hover {
  transform: scale(1.1);
  transition: transform 0.2s;
}

.item-container {
  display: inline-block;
  text-align: center;
  margin: 10px;
}

.item-container img {
  width: 80px;
  height: 80px;
}

.item-container p {
  margin-top: 5px;
  font-size: 12px;
  color: #fff;
}

.items-page .modal-content {
  width: 20%;
  
}